#statepolygons path,
#statepolygons line {
  fill: #9a9a9a;
  stroke: none;
  stroke-width: 2;
}

#countypolygons path,
#countypolygons line {
  fill: #efefef;
  stroke: #c6c6c6;
  stroke-width: 0.5;
}

#stateoutline path,
#stateoutline line {
  fill: none;
  stroke: #5f5f5f;
  stroke-width: 0.5;
  pointer-events: none; /* pointer events passed to layer below*/
}

#precipcells path,
#precipcells line {
  stroke: none;
  opacity: 0.7;
  pointer-events: none; /* pointer events passed to layer below*/
}

.tooltip {
  position: absolute;
  text-anchor: end;
  text-transform: capitalize;
}

.timestamp {
  text-anchor: middle;
  font-size: 20px;
  text-decoration: bold;
}
