body {
  font-family: sans-serif;
}

#statepolygons path,
#statepolygons line {
  fill: #9a9a9a;
  stroke: none;
  stroke-width: 2;
}

#countypolygons path,
#countypolygons line {
  fill: #fafafa;
  stroke: #c6c6c6;
  stroke-width: 0.5;
}

#countypolygons path.hover,
#countypolygons line.hover {
  fill: #ffa700;
}

#stateoutline path,
#stateoutline line {
  fill: none;
  stroke: #5f5f5f;
  stroke-width: 0.5;
  pointer-events: none; /* pointer events passed to layer below*/
}

#precipcells path,
#precipcells line {
  stroke: none;
  opacity: 0.7;
  pointer-events: none; /* pointer events passed to layer below*/
}

.tooltip {
  position: absolute;
  text-anchor: end;
  text-transform: capitalize;
  pointer-events: none;
	background-color: rgba(255,255,255,0.8); /*white, slightly transparent*/
	border: 5px;
	border-radius: 10px;
}

.timestamp {
  text-anchor: middle;
  font-size: 20px;
  text-decoration: bold;
}
